# Olympic Sports and Medals - 1896 - 2012 - Kaggle

Lets analyse some data provided by **'The Guardian'** on **[Kaggle](https://www.kaggle.com/datasets/the-guardian/olympic-games?datasetId=707&sortBy=voteCount)**!

## Libraries and imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Loading Dataset

In [2]:
df_summer = pd.read_csv('summer.csv')

In [3]:
df_summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

Lets also check the dataset, whether we need to **change** any **Dtype** or **drop** any **Null/Nan** rows/columns.

In [4]:
df_summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [5]:
df_summer.isnull().sum()

Year          0
City          0
Sport         0
Discipline    0
Athlete       0
Country       4
Gender        0
Event         0
Medal         0
dtype: int64

In [6]:
df_summer[df_summer['Country'].isna()]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
29603,2012,London,Athletics,Athletics,Pending,NaN,Women,1500M,Gold
31072,2012,London,Weightlifting,Weightlifting,Pending,NaN,Women,63KG,Gold
31091,2012,London,Weightlifting,Weightlifting,Pending,NaN,Men,94KG,Silver
31110,2012,London,Wrestling,Wrestling Freestyle,"KUDUKHOV, Besik",NaN,Men,Wf 60 KG,Silver

### Drop NA rows

Seems like we have some NaN rows, lets drop them.

In [7]:
df_summer.dropna(inplace = True)
df_summer.shape

(31161, 9)

In [8]:
df_summer.isnull().sum()

Year          0
City          0
Sport         0
Discipline    0
Athlete       0
Country       0
Gender        0
Event         0
Medal         0
dtype: int64

## Top Performers

First, lets see the biggest winners of all time at olympic games!

In [28]:
df_athletes = df_summer.groupby(['Country','Athlete', 'Sport', 'Gender'], as_index = False)['Medal'].count()
df_athletes = df_athletes.sort_values(by='Medal', ascending=False)
df_athletes_top20 = df_athletes.head(20)
df_athletes_top20

      Country                     Athlete       Sport Gender  Medal
21795     USA             PHELPS, Michael    Aquatics    Men     22
18716     URS            LATYNINA, Larisa  Gymnastics  Women     18
18098     URS          ANDRIANOV, Nikolay  Gymnastics    Men     15
19164     URS             SHAKHLIN, Boris  Gymnastics    Men     13
11527     ITA        MANGIAROTTI, Edoardo     Fencing    Men     13
12350     JPN                ONO, Takashi  Gymnastics    Men     13
22386     USA                TORRES, Dara    Aquatics  Women     12
12152     JPN                 KATO, Sawao  Gymnastics    Men     12
20116     USA           COUGHLIN, Natalie    Aquatics  Women     12
22355     USA             THOMPSON, Jenny    Aquatics  Women     12
5392      FIN                NURMI, Paavo   Athletics    Men     12
16142     RUS               NEMOV, Alexei  Gymnastics    Men     12
19773     USA             BIONDI, Matthew    Aquatics    Men     11
17495     TCH             CASLAVSKA, Vera  Gymnastics  Women     11
18287     URS  CHUKARIN, Viktor Ivanovich  Gymnastics    Men     11
22209     USA                 SPITZ, Mark    Aquatics    Men     11
21727     USA       OSBURN, Carl Townsend    Shooting    Men     11
21284     USA                LOCHTE, Ryan    Aquatics    Men     11
9800      GER      VAN ALMSICK, Franziska    Aquatics  Women     10
21250     USA                 LEWIS, Carl   Athletics    Men     10

These are the biggest winners at olympic games from 1896 to 2012. Let's check how many athletes each of these countries have.

In [10]:
df_athletes_ctop20 = df_athletes_top20.groupby(['Country'], as_index=False)['Athlete'].count()
df_athletes_ctop20.sort_values(by='Athlete', ascending=False)

  Country  Athlete
7     USA        9
6     URS        4
3     JPN        2
0     FIN        1
1     GER        1
2     ITA        1
4     RUS        1
5     TCH        1

**Note:** URS is equivalent to Soviet Union and RUS is equivalent to Russia. Don't forget that some countries, including Russia, have changed their name during the observed period.

### Top Performers by gender

In [16]:
df_athletes_fm = df_athletes[df_athletes['Gender'] == 'Women']
df_athletes_fm20 = df_athletes_fm.head(20)
df_athletes_fm20

      Country                 Athlete          Sport Gender  Medal
18716     URS        LATYNINA, Larisa     Gymnastics  Women     18
22386     USA            TORRES, Dara       Aquatics  Women     12
20116     USA       COUGHLIN, Natalie       Aquatics  Women     12
22355     USA         THOMPSON, Jenny       Aquatics  Women     12
17495     TCH         CASLAVSKA, Vera     Gymnastics  Women     11
9800      GER  VAN ALMSICK, Franziska       Aquatics  Women     10
10351     HUN           KELETI, Agnes     Gymnastics  Women     10
18120     URS       ASTAKHOVA, Polina     Gymnastics  Women     10
11900     ITA      VEZZALI, Valentina        Fencing  Women      9
639       AUS           JONES, Leisel       Aquatics  Women      9
15332     ROU         COMANECI, Nadia     Gymnastics  Women      9
11972     JAM     OTTEY-PAGE, Merlene      Athletics  Women      9
13871     NED      VAN GRUNSVEN, Anky     Equestrian  Women      9
19350     URS    TURISCHEVA, Lyudmila     Gymnastics  Women      9
9137      GER         FISCHER, Birgit  Canoe / Kayak  Women      8
15464     ROU         LIPA, Elisabeta         Rowing  Women      8
18878     URS        MURATOVA, Sofiya     Gymnastics  Women      8
982       AUS          THOMAS, Petria       Aquatics  Women      8
524       AUS            FRASER, Dawn       Aquatics  Women      8
9874      GER          WERTH, Isabell     Equestrian  Women      8

falar sobre as modalidades em que cada genero se destaca

In [26]:
df_athletes_sp20 = df_athletes_fm20.groupby(['Sport'], as_index=False)['Medal'].sum()
df_athletes_sp20 = df_athletes_sp20.sort_values(by='Medal', ascending = False)
df_athletes_sp20

           Sport  Medal
5     Gymnastics     75
0       Aquatics     71
3     Equestrian     17
1      Athletics      9
4        Fencing      9
2  Canoe / Kayak      8
6         Rowing      8

Falar sobre os esportes em que as mulheres de destacam e agora mostrar para os homens

In [30]:
df_athletes_ml = df_athletes[df_athletes['Gender'] == 'Men']
df_athletes_ml20 = df_athletes_ml.head(20)
df_athletes_ml20

      Country                     Athlete       Sport Gender  Medal
21795     USA             PHELPS, Michael    Aquatics    Men     22
18098     URS          ANDRIANOV, Nikolay  Gymnastics    Men     15
19164     URS             SHAKHLIN, Boris  Gymnastics    Men     13
11527     ITA        MANGIAROTTI, Edoardo     Fencing    Men     13
12350     JPN                ONO, Takashi  Gymnastics    Men     13
12152     JPN                 KATO, Sawao  Gymnastics    Men     12
5392      FIN                NURMI, Paavo   Athletics    Men     12
16142     RUS               NEMOV, Alexei  Gymnastics    Men     12
19773     USA             BIONDI, Matthew    Aquatics    Men     11
18287     URS  CHUKARIN, Viktor Ivanovich  Gymnastics    Men     11
22209     USA                 SPITZ, Mark    Aquatics    Men     11
21727     USA       OSBURN, Carl Townsend    Shooting    Men     11
21284     USA                LOCHTE, Ryan    Aquatics    Men     11
21250     USA                 LEWIS, Carl   Athletics    Men     10
20691     USA              HALL, Gary Jr.    Aquatics    Men     10
18313     URS         DITYATIN, Aleksandr  Gymnastics    Men     10
10245     HUN            GEREVICH, Aladar     Fencing    Men     10
12302     JPN           NAKAYAMA, Akinori  Gymnastics    Men     10
12165     JPN              KENMOTSU, Eizo  Gymnastics    Men      9
986       AUS                 THORPE, Ian    Aquatics    Men      9

In [33]:
df_athletes_spm20 = df_athletes_ml20.groupby(['Sport'], as_index=False)['Medal'].sum()
df_athletes_spm20 = df_athletes_spm20.sort_values(by='Medal', ascending = False)
df_athletes_spm20

        Sport  Medal
3  Gymnastics    105
0    Aquatics     74
2     Fencing     23
1   Athletics     22
4    Shooting     11

## USA performance by Gender through the years

In [ ]:
df_by_discipline = df_summer[["Year", "Sport", "Discipline","Country", "Gender", "Event", "Medal"]].drop_duplicates()
df_by_discipline = df_by_discipline.groupby(['Country','Discipline'], as_index = False)['Medal'].count()
df_by_discipline.sort_values(by='Medal', ascending=False).head(20)

# Dropping duplicates

For team-based sports we want to count medals only once, hence we will drop duplicates avoiding this issue.

In [ ]:
df_summer_nathle = df_summer[["Year", "Sport", "Country", "Gender", "Event", "Medal"]].drop_duplicates()
df_summer_nathle

In [ ]:
df_medals = df_summer_nathle.groupby(["Country", "Year"])["Medal"].count().unstack()
df_medals

In [ ]:
Countries = ["USA", 
    "CHN", 
    "RU1", "URS", "EUN", "RUS", 
    "GDR", "FRG", "EUA", "GER", 
    "GBR", "AUS", "ANZ",
    "FRA",
    "ITA"]

In [ ]:
teste = df_medals.loc[Countries]
teste

In [ ]:
df_medals = df_summer_nathle.groupby(["Country", "Year"], as_index=False)["Medal"].count()
df_medals = df_medals.groupby(['Country'], as_index = False)['Medal'].sum()
df_medals = df_medals[df_medals['Country'].isin(Countries)].sort_values(by='Medal', ascending=False)

In [ ]:
df_medals

In [ ]:
plt.figure(figsize = (10,6))
plt.bar(df_medals['Country'],sorted(df_medals['Medal'], reverse= True), width=0.7)
plt.xlabel('Countries')
plt.ylabel('Total Medals')
plt.title('Bar Chart for Selected Countries in Summer Olympic Games')
plt.ylim([0,2500])
plt.show;

In [ ]:
df_summer_gold = df_summer_nathle[df_summer_nathle['Medal'] == 'Gold']
gold_countries = df_summer_gold.groupby(["Country"], as_index=False)["Medal"].count()
gold_countries = gold_countries[gold_countries['Country'].isin(Countries)]

In [ ]:
df_summer_silver = df_summer_nathle[df_summer_nathle['Medal'] == 'Silver']
silver_countries = df_summer_silver.groupby(["Country"], as_index=False)["Medal"].count()
silver_countries = silver_countries[silver_countries['Country'].isin(Countries)]

In [ ]:
df_summer_bronze = df_summer_nathle[df_summer_nathle['Medal'] == 'Bronze']
bronze_countries = df_summer_bronze.groupby(["Country"], as_index=False)["Medal"].count()
bronze_countries = bronze_countries[bronze_countries['Country'].isin(Countries)]

In [ ]:
first_merge = pd.merge(bronze_countries, silver_countries,how='inner', on='Country')
medals_countries = pd.merge(first_merge, gold_countries,how='inner', on='Country')
medals_countries = medals_countries.sort_values(by = 'Medal', ascending=False)
medals_countries.rename(columns={'Medal_x': 'Bronze', 'Medal_y': 'Silver', 'Medal': 'Gold'}, inplace=True)

In [ ]:
medals_countries

In [ ]:
plt.figure(figsize = (10,6))
plt.bar(medals_countries['Country'], medals_countries['Bronze'],color = 'orange')
plt.bar(medals_countries['Country'], medals_countries['Silver'], bottom = medals_countries['Bronze'],color = 'silver')
plt.bar(medals_countries['Country'], medals_countries['Gold'], bottom = medals_countries['Bronze'] + medals_countries['Silver'],color = 'yellow')
plt.xlabel('Countries')
plt.ylabel('Medals')
plt.legend(["Bronze", "Silver", "Gold"])
plt.show()