# Olympic Sports and Medals - 1896 - 2012 - Kaggle

Lets analyse some data provided by **'The Guardian'** on **[Kaggle](https://www.kaggle.com/datasets/the-guardian/olympic-games?datasetId=707&sortBy=voteCount)**!

## Libraries and imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Loading Dataset

In [2]:
df_summer = pd.read_csv('summer.csv')

In [3]:
df_summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

Lets also check the dataset, whether we need to **change** any **Dtype** or **drop** any **Null/Nan** rows/columns.

In [4]:
df_summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [5]:
df_summer.isnull().sum()

Year          0
City          0
Sport         0
Discipline    0
Athlete       0
Country       4
Gender        0
Event         0
Medal         0
dtype: int64

In [8]:
df_summer[df_summer['Country'].isna()]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
29603,2012,London,Athletics,Athletics,Pending,NaN,Women,1500M,Gold
31072,2012,London,Weightlifting,Weightlifting,Pending,NaN,Women,63KG,Gold
31091,2012,London,Weightlifting,Weightlifting,Pending,NaN,Men,94KG,Silver
31110,2012,London,Wrestling,Wrestling Freestyle,"KUDUKHOV, Besik",NaN,Men,Wf 60 KG,Silver

### Drop NA rows

Seems like we have some NaN rows, lets drop them.

In [9]:
df_summer.dropna(inplace = True)
df_summer.shape

(31161, 9)

In [10]:
df_summer.isnull().sum()

Year          0
City          0
Sport         0
Discipline    0
Athlete       0
Country       0
Gender        0
Event         0
Medal         0
dtype: int64

## Medals by Disciplne

In [ ]:
df_by_discipline = df_summer[["Year", "Sport", "Discipline","Country", "Gender", "Event", "Medal"]].drop_duplicates()
df_by_discipline = df_by_discipline.groupby(['Country','Discipline'], as_index = False)['Medal'].count()
df_by_discipline.sort_values(by='Medal', ascending=False).head(20)

In [ ]:
df_athletes = df_summer.groupby(['Country','Athlete'], as_index = False)['Medal'].count()
df_athletes = df_athletes.sort_values(by='Medal', ascending=False)
df_athletes.head(20)

# Dropping duplicates

For team-based sports we want to count medals only once, hence we will drop duplicates avoiding this issue.

In [ ]:
df_summer_nathle = df_summer[["Year", "Sport", "Country", "Gender", "Event", "Medal"]].drop_duplicates()
df_summer_nathle

In [ ]:
df_medals = df_summer_nathle.groupby(["Country", "Year"])["Medal"].count().unstack()
df_medals

In [ ]:
Countries = ["USA", 
    "CHN", 
    "RU1", "URS", "EUN", "RUS", 
    "GDR", "FRG", "EUA", "GER", 
    "GBR", "AUS", "ANZ",
    "FRA",
    "ITA"]

In [ ]:
teste = df_medals.loc[Countries]
teste

In [ ]:
df_medals = df_summer_nathle.groupby(["Country", "Year"], as_index=False)["Medal"].count()
df_medals = df_medals.groupby(['Country'], as_index = False)['Medal'].sum()
df_medals = df_medals[df_medals['Country'].isin(Countries)].sort_values(by='Medal', ascending=False)

In [ ]:
df_medals

In [ ]:
plt.figure(figsize = (10,6))
plt.bar(df_medals['Country'],sorted(df_medals['Medal'], reverse= True), width=0.7)
plt.xlabel('Countries')
plt.ylabel('Total Medals')
plt.title('Bar Chart for Selected Countries in Summer Olympic Games')
plt.ylim([0,2500])
plt.show;

In [ ]:
df_summer_gold = df_summer_nathle[df_summer_nathle['Medal'] == 'Gold']
gold_countries = df_summer_gold.groupby(["Country"], as_index=False)["Medal"].count()
gold_countries = gold_countries[gold_countries['Country'].isin(Countries)]

In [ ]:
df_summer_silver = df_summer_nathle[df_summer_nathle['Medal'] == 'Silver']
silver_countries = df_summer_silver.groupby(["Country"], as_index=False)["Medal"].count()
silver_countries = silver_countries[silver_countries['Country'].isin(Countries)]

In [ ]:
df_summer_bronze = df_summer_nathle[df_summer_nathle['Medal'] == 'Bronze']
bronze_countries = df_summer_bronze.groupby(["Country"], as_index=False)["Medal"].count()
bronze_countries = bronze_countries[bronze_countries['Country'].isin(Countries)]

In [ ]:
first_merge = pd.merge(bronze_countries, silver_countries,how='inner', on='Country')
medals_countries = pd.merge(first_merge, gold_countries,how='inner', on='Country')
medals_countries = medals_countries.sort_values(by = 'Medal', ascending=False)
medals_countries.rename(columns={'Medal_x': 'Bronze', 'Medal_y': 'Silver', 'Medal': 'Gold'}, inplace=True)

In [ ]:
medals_countries

In [ ]:
plt.figure(figsize = (10,6))
plt.bar(medals_countries['Country'], medals_countries['Bronze'],color = 'orange')
plt.bar(medals_countries['Country'], medals_countries['Silver'], bottom = medals_countries['Bronze'],color = 'silver')
plt.bar(medals_countries['Country'], medals_countries['Gold'], bottom = medals_countries['Bronze'] + medals_countries['Silver'],color = 'yellow')
plt.xlabel('Countries')
plt.ylabel('Medals')
plt.legend(["Bronze", "Silver", "Gold"])
plt.show()